
on:
  push:
    branches:
      - main







jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: 'testing github'
        run: pwd
      - name: 'testing printing'
        run: echo Ali  

