
on:
  push:
    branches:
      - main







jobs:
  build:
    runs-on: ubuntu-latest


    steps:   
      - uses: actions\checkout@v3 

      - name: "docker hub login"
        run: docker login --username alihaamed17 --password ${{ secrets.DOCKER_PAT }}
    

